*{
    margin: 0%;
    padding: 0%;

}

body.moe{
    overflow-x: hidden;
    margin: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
}
h1.titulos{
    font-size: 150px;
    text-align: center;
    color: #FFFFFF;
}
section.a{
    background: url(../assets/img/modulo_educativo/libros_colores_me_bg1.png);
    width: 100%;
    height: 100%;
    position: relative;
    top: 0%;
}
section.b{
    background: url(../assets/img/modulo_educativo/cactus_me_bg2.jpg);
    width: 100%;
    height: 100%;
}

section.c{
    background: url(../assets/img/modulo_educativo/cactus_negro_me_bg3.jpg);
    width: 100%;
    height: 100%;
}

section.d{
    background: url(../assets/img/modulo_educativo/cactus_rosa_me_bg4.jpg);
        width: 100%;
        height: 100%;
}
section.e{
    background: #0E0E0E;
    width: 100%;
    height: 30%;
    align-items: center;
    bottom: 0%;
}
h1.primero{
    font-size: 50px;
    text-align: center;
    color:white;
}
h1.segundo{
    font-size: 50px;
    text-align: center;
    color:white;
}
/*Botón*/
.glow-on-hover {
    width: 370px;
    height: 70px;
    border: none;
    outline: none;
    color: #fff;
    background: #111111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 30px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}



